* {
  //border: 1px solid rgb(0,0,0);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 600;
}

body a {
  color: black;
}

body a:hover {
  text-decoration:none;
  color: silver;
}


.icon-bar {
  font-family: monospace;
  font-size: 1em;
  position: fixed;
  top: 0;
  z-index: 99999;
  background-color: black;
  color: white;
  height: 2em;
  width: 100%;
}

.icon-bar a {
  color: white;
}

.icon-bar a:hover {
  text-decoration:none;
  color: silver;
}

.icon-bar ul {
  padding: 0.3em 1.5em;
}

.icon-bar li {
  display: inline;
}

div.user {
  float: left;
}

div.icon {
  float: right;
}

.avatar {
  width: 20px;
  height: 20px;
}

.logo img {
  position: relative;
  left: 1em;
  margin: 3% 0;
  height: 8em;
  width: 8em;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  font-family: "Baloo Thambi", cursive;
  font-size: 1.3em;
  width: 12em;
  position: relative;
}

nav li:active {
  top: 1.5px;
}

header {
  text-align: center;
  margin: 2% auto;
  border-bottom: solid 1px silver;
}

.pic_gallary {
  background-image:
  url("/static/pics/show.jpg");
  background-size: cover;
  max-width: 91%;
  max-height: 80%;
  height: auto;
  width: auto;
  margin: auto;
  margin-bottom: 2%;
}

.topic {
  height: 8em;
  font-family: "Lobster", cursive;
  font-size: 3em;
  font-weight: 100;
  color: white;
  margin: 8% 0 0 10%;
}

main {
  width: 100%;
  margin: 2% auto;
}

.contents {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recent {
  width: 91%;
  margin: auto;
}

.blogs {
  border: 1px solid rgba(161, 161, 161, 0.49);
  width: 28%;
  height: 100%;
  min-width: 300px;
  margin: 20px;

  font-family: "Lato", cursive;
  text-align: left;
}

.pic img {
  height: auto;
  width: auto;
}

div.text {
  padding: 20px;
}

footer {
  border-top: solid 1px silver;
  margin: 5% auto;
  width: 100%;
}

.left {
  padding: 1em 1em;
  float: left;
}

.right {
  padding: 1em 1em;
  text-align: right;
  float: right;
}
